<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改表单</title>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/common.css" media="all">
</head>
<body>
<div class="ojbk-modify">
    <div class="layui-form" lay-filter="modify">
        <div class="layui-form-item">
            <label class="layui-form-label ojbk-required">表单名称</label>
            <div class="layui-input-inline">
                <input type="text" name="title" id="title" lay-verify="required" placeholder="请输入表单名称" autocomplete="off" class="layui-input" th:value="${form['title']}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label ojbk-required">数据库表名</label>
            <div class="layui-input-inline">
                <input type="text" name="collection" id="collection" lay-verify="required" placeholder="请输入数据库表名" autocomplete="off" class="layui-input" th:value="${form['collection']}" th:disabled="${form['id']} != null ? 'true' : 'false'">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <textarea name="description" id="description" style="width: 400px; height: 150px;" autocomplete="off" class="layui-textarea" th:text="${form['description']}"></textarea>
            </div>
        </div>
        <!--隐藏的提交按钮，用于验证-->
        <button id="modifyBtn" class="layui-btn" lay-submit lay-filter="modify" style="display: none;"></button>
        <div th:if="${form['id']}!=null">
            <div class="layui-tab layui-tab-brief" lay-filter="demo">
                <ul class="layui-tab-title" style="left: 15px;">
                    <li class="layui-this">表单字段设置</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe frameborder="0" scrolling="auto" style="width: 100%; height: 500px" th:src="'/admin/formField/tabulation.html?menuId=170&formId=' + ${form['id']}">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layui/layui.js"></script>
<script src="/js/common.js"></script>
<script src="/js/system/form/modify.js"></script>
<script th:inline="javascript" type="text/javascript">
    //静态注入的数据
    var formId = [[${form['id']}]];
</script>
</body>
</html>