*{
    margin: 0;
    padding: 0;
}

html,body{
    height:100%;
    color: rgba(0,0,0,.65)!important;
    background: #F3F3F3;
}

body{
    font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.ojbk-tc{
    text-align: center;
}

.layui-icon{
    font-family: 'layui-icon','nep-icon'!important;
}

.layui-input{
    margin-bottom: 15px;
    border-radius: 2px;
    border-color: #eee;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

input::input-placeholder{/* 有些资料显示需要写，有些显示不需要，但是在编辑器webstorm中该属性不被识别 */
    color:  #bdbdbd ;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}

input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.ojbk-centered{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*!*表格格式化*!
.layui-table-cell {
    height: auto;
    line-height: 45px;
}
th .layui-table-cell {
    height: auto;
    line-height: 22.5px;
}
th .laytable-cell-1-0-7 {
    height: auto;
    line-height: 22.5px;
}*/
/*调整搜索按钮*/
.ojbk-search-btn{
    margin-top: -17px;
}