#ojbk-login{
    height: 100%;
}

.login-wrap{
    height: 540px;
}

body{
    background: #f0f2f5 url(/assets/background.png);
    background-size: cover;
}

#ojbk-login .layui-logo{
    font-size: 27px;
    font-weight: 900;
    color: transparent;
    background-color : black;
    text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
    -webkit-background-clip : text;
    line-height: 120px;
}

#ojbk-login .ojbk-logo{
    display: inline-block;
}

#ojbk-login .ojbk-logo img{
    width: 100%;
    height: auto;
}

#ojbk-login .layui-form{
    overflow: hidden;
    background: #fff;
    padding: 40px 40px 20px;
    box-shadow: 1px 3px 3px #ccc;
    position: relative;
}

#ojbk-login .layui-anim{
    animation-duration: .4s!important;
}

#ojbk-login .login-type-tab{
    margin-bottom: 20px;
    overflow: hidden;
}

#ojbk-login .login-type-tab li{
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    transition: color .5s ease;
    color: #333;
}

#ojbk-login .layui-form-item{
    position: relative;
}

#ojbk-login .layui-form-item .label-icon{
    position: absolute;
    width: 38px;
    line-height: 38px;
    text-align: center;
    color: #d2d2d2!important;
}

#ojbk-login .layui-input{
    text-indent: 26px;
}